.input {
	border-bottom: 1px solid #ccc;
	padding: 6px;
	margin: 0 6px;
	background: transparent;
	vertical-align: middle;
	&.input--large {
		width: 80%;
	}
	&:focus {
		outline: none;
	}
}

.input--block {
	display: block;
	margin-bottom: 12px;
	margin-left: 0;
}