.input {
	border-bottom: 1px solid #ccc;
	padding: 6px;
	margin: 0 6px;
	background: transparent;
	vertical-align: middle;
	@include media(phone){
		-webkit-appearance: none;
		border-radius: 0;
	}
	&.input--large {
		width: 80%;
	}
	&.input--full {
		width: 100%;
	}
	&:focus {
		outline: none;
		border-color: #000;
	}
}

.input--block {
	display: block;
	margin-bottom: 12px;
	margin-left: 0;
}

select {
	width: 100%;
}

textarea {
	resize: vertical;
}

label {
	color: #666;
	margin-bottom: 6px;
	display: inline-block;
}