.hand {
	cursor: pointer;
}

.error {
	border: 1px solid red;
}

.wrap {
	max-width: 1200px;
	margin: auto;
}

.ratio-left {
	width: 35%;
	float: left;
}

.ratio-right {
	width: 65%;
	float: right;
}

.aligned-left {
	text-align: left;
}

.breathe-bottom {
	margin-bottom: 12px;
}

.v-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.abs-center {
	max-width: 480px;
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -240px;
}

.text-light {
	color: #fff;
}

.clear {
	clear: both;
}