.hand {
	cursor: pointer;
}

.error {
	border-bottom: 1px solid red;
}

.wrap {
	max-width: 1200px;
	margin: auto;
}

.ratio-left {
	width: 35%;
	float: left;
}

.ratio-right {
	width: 65%;
	float: right;
}

@include media(phone){
	.ratio-right, .ratio-left {
		float: none;
		width: 100%;
	}
}

.aligned-left {
	text-align: left;
}

.breathe-bottom {
	margin-bottom: 12px;
}


.breathe-left {
	@include media(phone){
		margin-left: 12px;
	}
}

.centered {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-not-mobile {
	@include media(phone){
		top: auto;
		left: auto;
		transform: translate(0, 0);
	}
}

.text-light {
	color: #fff;
}

.clear {
	clear: both;
}

.close {
	border-radius: 10px;			
	color: #000;
	position: absolute;
	top: -15px;
	right: -12px;
	background: #fff;
	cursor: pointer;
	z-index: 10;
	font-size: 24px;
}

.hidden {
	display: none;
}

[data-key="reset"] strong {
	cursor: pointer;
}