.footer {
	clear: both;
	padding: 24px;
	border-top: 1px solid #e5e5e5;
	text-align: right;
	a {
		font-size: 20px;
		text-decoration: none;
		margin: 0 6px;
		color: #666;
		@include media(phone){
			font-size: 16px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}