.header {
	border-bottom: 1px solid #ccc;
	padding: 24px;
	margin-bottom: 48px;
	.select2-container {
		margin-bottom: 0 !important;
	}
	.logo, .search-input, .account-area {
		display: inline-block;
		width: 33%;
		vertical-align: middle;
	}
}