.header {
	border-bottom: 1px solid #ccc;
	padding: 24px;
	margin-bottom: 48px;
	background-image: linear-gradient(#f8f8f8, #fff);
	@include media(phone){
		text-align: center;
	}
	.select2-container {
		margin-bottom: 0 !important;
	}
	.logo, .search-input, .account-area {
		display: inline-block;
		width: 33%;
		vertical-align: middle;
		@include media(phone){
			width: 100%;
			margin-bottom: 12px;
		}
		@include media(tablet){
			width: 100%;
			margin-bottom: 12px;
		}
	}
	.account-area {
		@include media(phone){
			text-align: center;
			> a {
				margin-bottom: 12px;
			}
		}	
	}
}