.latest {
	.latest-recommendations {
		width: 50%;
		margin: auto;
		text-align: left;
		@include media(phone){
			width: 90%;
		}
		@include media(tablet){
			width: 90%;
		}
		.latest-recommendation {
			margin-bottom: 12px;
			border: 1px solid #e5e5e5;
			border-radius: 3px;
			padding: 12px;
			.latest-tag {
				vertical-align: top;
			}
		}
	}
}