.profile {
	text-align: center;
}

.profile-user {
	width: 50%;
	margin: auto;
	.profile-user-avatar {
		width: 128px;
		height: 128px;
		border-radius: 24px;
	}
	.profile-user-name {

	}
}

.recommendations-from {
	padding: 24px;
}