.profile {
	text-align: center;
}

.profile-user {
	width: 50%;
	margin: auto;
	.profile-user-avatar-wrap {
		position: relative;
		display: inline-block;
		.profile-user-vip {
			position: absolute;
			bottom: 12px;
			right: 12px;
			color: #fff;
			font-size: 22px;
		}
		.profile-user-avatar {
			width: 128px;
			border-radius: 24px;
		}
	}
	.profile-user-name {

	}
	.profile-bio {
		
	}
	.user-location {
		margin-top: -12px;
		margin-bottom: 12px;
	}
	.profile-details {
		border-bottom: 1px solid #ccc;
		padding: 12px 0;
	}
	.profile-links {
		border-bottom: 1px solid #ccc;
		padding: 12px 0;
		> * {
			margin-left: 6px;
			margin-right: 6px;
		}
	}
	.profile-edit {
		border-bottom: 1px solid #ccc;
		padding: 12px 0;
	}
}

.recommendations-from {
	.recommend-from-wrap {
		border-top: 1px solid #ccc;
		margin-bottom: 12px;
		vertical-align: top;
		margin-left: -12px;
		.user-card {
			margin: 12px;
		}
		.button {
			vertical-align: top;
			margin: 12px;
			word-break: break-word;
		}
	}
}

.recommend-user {
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding: 24px 0;
}

.recommendations-for {
	margin-bottom: 12px;
	text-align: left;
	padding: 24px 0;	
}

.profile-recommended-wrap {
	clear: both;
	border-top: 1px solid #ccc;
	&:first-of-type {
		border: none;
	}
	.tag-tab {
		float: none;
	}
	.recommenders {
		display: none;
		padding: 6px 6px 6px 0;
		overflow: auto;
		clear: both;
	}
}