.profile {
	text-align: center;
}

.profile-user {
	width: 50%;
	margin: auto;
	.profile-user-avatar-wrap {
		position: relative;
		display: inline-block;
		margin-bottom: 24px;
		.profile-user-vip {
			position: absolute;
			bottom: 12px;
			right: 12px;
			color: #fff;
			font-size: 22px;
		}
		.profile-user-avatar {
			width: 128px;
			border-radius: 24px;
		}
	}
	.profile-user-name {

	}
	.profile-bio {
		margin-bottom: 12px;
	}
	.profile-links {
		margin-bottom: 12px;
	}
}

.recommendations-from {
	.recommend-from-wrap {
		border-bottom: 1px solid #ccc;
		margin-bottom: 12px;
		padding-bottom: 12px;
		vertical-align: top;
		margin-left: -12px;
		.user-card {
			margin: 12px;
		}
		.button {
			vertical-align: top;
			margin: 12px;
			word-break: break-word;
		}
	}
}