.board {
	margin: 24px auto;
	text-align: center;
	position: relative;
	border-top: 1px solid transparent;
	.board-images {
		max-width: 70%;
		margin: auto;
		font-size: 0;
		@include media(phone){
			max-width: 90%;
		}
	}
	.board-img {
		font-size: 16px;
		display: inline-block;
		max-width: 240px;
		height: 240px;
		overflow: hidden;
		vertical-align: top;
		position: relative;
		transition: .2s;
		img {
			max-width: 240px;
			min-height: 240px;
		}
		&:hover .board-detail {
			transform: translateY(-64px);
		}
		@include media(phone){
			max-height: 304px;
			height: 304px;
			&:hover .board-detail {
				transform: translateY(0);
			}
		}
		@include media(phone){
			margin-bottom: 12px;
		}
		.board-detail {
			position: absolute;
			bottom: -64px;
			text-align: center;
			width: 100%;
			padding: 12px;
			transition: .2s;
			z-index: 2;
			transform: translate3d(0,0,0);
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
			color: #fff;
			text-align: left;
			@include background-opacity($accent, 0.9);
			@include media(phone){
				bottom: 0;
				background: $accent;
			}
		}
	}
}