.button {
	text-decoration: none;
	position: relative;
	border-radius: 3px;
	border: 1px solid $accent;
	color: $accent;
	padding: 6px 12px;
	display: inline-block;
	transition: .2s;
	cursor: pointer;
	line-height: 1.6;
}

.button-muted {
	border-color: #666;
	color: #666;
}

.button-secondary {
	border-color: #888;
	color: #444;
}

.button-light {
	color: #fff;
	border-color: #fff;
}

.button-cta {
	background: $accent;
	color: #fff;
	font-size: 20px;
	padding: 12px 24px;
}

.button-mini-cta {
	background: $accent;
	color: #fff;
}

.button:hover {
	@include background-opacity($accent, 0.9);
	color: #fff;
}

.button-muted:hover {
	@include background-opacity(#000, 0.8);
	border-color: #000;
}

.button-secondary:hover {
	@include background-opacity(#000, 0.8);
	border-color: #000;
}

.button-light:hover {
	color: $accent;
	background: #fff;
}

.button-cta:hover {
		
}