.flag {
  display:table;
  width:auto;
  margin:12px;
}

.flag__image, .flag__body {
  display:table-cell;
  vertical-align:middle;
  
  .flag--top & {
    vertical-align:top;
  }
  
  .flag--bottom & {
    vertical-align:bottom;
  }
}

.flag__image {
  padding-right:12px;
  
  > img {
    display:block;
  }
  
  .flag--rev & {
    padding-right:0;
    padding-left:10px;
  }
}

.flag__body {
  width:100%;
}