.search {

}

.search-results {
	position: absolute;
	margin-top: 12px;
	width: 33%;
	.search-result {
		display: inline-block;
		margin: 0 12px 12px 0;
		background: #f7f7f7;
		padding: 12px;
		.search-result-avatar {
			max-width: 24px;
		}
	}
}