.tag-tab {
	margin: 6px 0;
	text-align: right;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #000;
	float: right;
	padding: 8px 12px;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	@include background-opacity(#000, 0.8);
	@include media(phone){
		width: 100%;
	}
	&:hover {
		text-decoration: underline;
	}
}