.user-card {
	display: inline-block;
	margin: 12px;
	vertical-align: top;
	width: 43%;
	position: relative;
	@include media(phone){
		width: 90%;
	}
	.user-card-avatar {
		max-width: 64px;
		border-radius: 12px;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

[data-key="recommendation-delete"] {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	@include media(phone){
		display: inline;
	}
}

.user-card:hover [data-key="recommendation-delete"] {
	display: inline;
}

.user-card-small {
	float: left;
	margin: 0 6px 6px 0;
	position: relative;
	.user-card-small-avatar {
		max-width: 32px;
		border-radius: 6px;
	}
	.close {
		top: -12px;
		right: -7px;
		font-size: 18px;
		i {
			position: relative;
			top: 4px;
		}
	}
}

.user-card-small:hover [data-key="recommendation-delete"] {
	display: inline;
}