.why-no-recommendation {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	text-align: center;
	padding: 6px;
	cursor: pointer;
	position: relative;
	.no-recommendation-explanation {
		display: none;
		margin-top: 6px;
		border-top: 1px solid #e5e5e5;
		padding: 6px 0;
	}
	.close {
		display: none;
	}
}

.why-no-recommendation:hover {
	border-color: #444;
	color: #000;
}