<div class="breathe-left">
	{{#if profile_user.canRecommend}}
		<h2>You've not recommended anyone yet!</h2>
		<p>You can use the search box to find users on Referrral or discover people through different skill tags. Or check out the <a href="/latest">latest</a> recommendations on Referrral.</p>
	{{else}}
		<h2>Aww shucks&hellip;</h2>
		<p>It looks as though you've not yet been recommended on Referrral. To start recommending your friends, you need to be recommended at least once.</p>
	{{/if}}
</div>