<h2>Pay it forward&hellip;</h2>

<div class="faq-item">
	<p class="breathe-bottom"><strong>Why build this service?</strong></p>
	<p>Recommending someone is incredibly powerful. How much more notice do you give to someone, or something, if it's been recommended by someone you trust? Lots more. This service is designed to build a network of these recommendations. People who are hiring, or looking to collaborate can come to their friend's profile and see who they hold in high regard. A good word from a friend could lead to many new doors being opened.</p>	
</div>

<div class="faq-item">
	<p class="breathe-bottom"><strong>Why can't I recommend people straight away, is it invite-only?</strong></p>
	<p>Not in the traditional sense. You can sign up and edit your profile, but to carry out your own recommending, you'll have to be recommended yourself. This means that everyone who joins the service has been recommended by an existing, trusted member. And so the chain of quality continues through every sign up.</p>	
</div>

<div class="faq-item">
	<p class="breathe-bottom"><strong>Why do I need to sign in with Twitter?</strong></p>
	<p>Not the most desirable option for a service, but a necessary, initial step for Referrral. Nothing should stop you from recommending someone, whether they're on Referrral or not. So we first search Referrral users, then we search Twitter users, which allows you to recommend them as you would any Referrral user. We need your Twitter authentication details to provide this enhanced search.</p>	
</div>

<div class="faq-item">
	<p class="breathe-bottom"><strong>Support</strong></p>
	<p>If you have any further questions, don't hesitate to get in touch
		<br />
		<br />
		<a class="button button-muted" data-no-hijack="true" href="mailto:hello@referrral.com"><i class="fa fa-envelope-o"></i> email</a> <a class="button button-muted" data-no-hijack="true" href="http://twitter.com/referrral"><i class="fa fa-twitter"></i> tweet</a></p>	
</div>