<div class="wrap">
	<div class="logo">
		<a href="{{#if user}}/profile/{{user.twitter}}{{else}}/home{{/if}}">
			<span class="flag">
				<span class="flag__image flag__image--small">
					<img src="/img/referrral.png" alt="" />
				</span>
				<span class="flag__body">
					Referrral
				</span>
			</span>
		<a/>
	</div>

	
	<div class="search-input">
		{{#if user}}
			<div data-region="search"></div>
		{{/if}}
	</div>
	

	<div class="account-area">
		{{#if user}}
			<a href="/account" class="button"><i class="fa fa-cog"></i> Account</a>
			<a href="/latest" class="button button-muted"><i class="fa fa-bolt"></i> Latest</a>
			<a href="/logout" class="button button-muted"><i class="fa fa-sign-out"></i> Logout</a>
		{{else}}
			<a data-no-hijack data-twitter-login href="#" class="button"><i class="fa fa-twitter"></i> Get access</a>
			<a class="button button-muted" href="/faq">Read more</a>
		{{/if}}
	</div>
</div>