<h1 class="tagline">Recommend your friends, pay it forward.</h1>

<div class="flow">
	<ul class="animated fadeIn">
		<li>
			Sign up
		</li>
		<li>
			Find your friends
		</li>
		<li>
			Recommend them
		</li>
	</ul>
	<h2 class="deed">Good deed, done.</h2>
	<a data-no-hijack data-twitter-login href="#" class="button button-cta"><i class="fa fa-twitter"></i> Get access</a>
</div>

<div class="top">
	<div class="board">
		<div class="text-light top-blurb">
			<h1>
				Our top recommended users
			</h1>
			<h3>Recommend your friends and increase their chances of employment, work requests and collaborations.</h3>
		</div>
		<div class="board-images">
			{{#each users}}
				<div class="board-img">
					<a href="/profile/{{recommendedID.twitter}}">
						<div class="board-detail">
							<span><i class="fa fa-user"></i> {{recommendedID.fullname}}</span>
							<span class="rec-count">{{count}}</span>
						</div>
						<img data-avatar src="{{recommendedID.avatar}}" />
					</a>
				</div>	
			{{/each}}
		</div>
	</div>
</div>

<div class="cta">
	<a data-no-hijack data-twitter-login href="#" class="button button-cta breathe-bottom"><i class="fa fa-twitter"></i> Get access</a>
	<div class="muted">
		or <a href="/faq"><strong>read more</strong></a> about Referrral
	</div>
</div>