<div class="wrap">
	<div class="profile ratio-left">
		<div class="profile-user">
			<div class="profile-user-avatar-wrap">
				{{#if profile_user.vip}}
					<span class="profile-user-vip" title="Invited member"><i class="fa fa-check-circle-o"></i></span>
				{{/if}}
				<img class="profile-user-avatar" src="{{profile_user.avatar}}" alt="">
			</div>
			{{#unless user}}
				{{#unless profile_user.member}}
					{{#unless owner}}
						<div>
							<p>Is this you?</p>
							<a data-no-hijack data-twitter-login href="#">Claim this profile</a>
						</div>
					{{/unless}}
				{{/unless}}
			{{/unless}}
			<h2 class="profile-user-name">{{profile_user.fullname}}</h2>
			{{#if profile_user.location}}
				<p class="profile-location">{{profile_user.location}}</p>
			{{/if}}
			{{#if profile_user.bio}}
				<p class="profile-bio">{{profile_user.bio}}</p>
			{{/if}}
			<div class="profile-links">
				{{#if profile_user.website}}
					<a data-no-hijack="true" class="button" href="{{profile_user.website}}"><i class="fa fa-external-link"></i></a>
				{{/if}}
				<a data-no-hijack="true" class="button" href="http://twitter.com/{{profile_user.twitter}}"><i class="fa fa-twitter"></i></a>
			</div>
			{{#if owner}}
				<a class="button" href="/account">Edit profile</a>
			{{else}}
				{{#if user}}
					{{#if user.canRecommend}}
						<div>
							<div data-region="recommend-user">
								
							</div>
						</div>
					{{/if}}
				{{/if}}
			{{/if}}
			<div data-region="recommendations-for">
					
			</div>
		</div>
	</div>

	<div data-region="recommendations-from" class="ratio-right">

	</div>
</div>