<div class="profile">
	<div class="profile-user">
		<img class="profile-user-avatar" src="{{profile_user.avatar}}" alt="">
		<h2 class="profile-user-name">{{profile_user.fullname}}</h2>
		{{#if profile_user.bio}}
			<p>{{profile_user.bio}}</p>
		{{/if}}
		{{#if profile_user.website}}
			<p><a data-no-hijack="true" href="{{profile_user.website}}"><i class="fa fa-external-link"></i></a></p>
		{{/if}}
		{{#if owner}}
			<div>
				<a href="/account">Edit profile</a>
			</div>
		{{else}}
			<div data-region="recommendations-for">
				
			</div>
		{{/if}}
	</div>
</div>

<div data-region="recommendations-from">

</div>