<div class="wrap">
	<div class="profile ratio-left">
		<div class="profile-user">
			<div class="profile-user-avatar-wrap">
				{{#if profile_user.vip}}
					<span class="profile-user-vip" title="Invited member"><i class="fa fa-check-circle-o"></i></span>
				{{/if}}
				<img data-avatar class="profile-user-avatar" src="{{profile_user.avatar}}" alt="">
			</div>
			<div class="profile-details">
				<h2 class="profile-user-name">{{profile_user.fullname}}</h2>
				{{#if profile_user.location}}
					<p class="user-location"><i class="fa fa-map-marker"></i> {{profile_user.location}}</p>
				{{/if}}
				{{#if profile_user.bio}}
					<p class="profile-bio">{{#linkify profile_user.bio}}{{/linkify}}</p>
				{{/if}}
				{{#unless user}}
					{{#unless profile_user.member}}
						{{#unless owner}}
							<div>
								<p class="breathe-bottom">Is this you?</p>
								<a data-no-hijack data-twitter-login href="#" class="button">Claim this profile</a>
							</div>
						{{/unless}}
					{{/unless}}
				{{/unless}}
			</div>

			<div class="profile-links">
				{{#if profile_user.website}}
					<a data-no-hijack="true" class="button" href="{{profile_user.website}}"><i class="fa fa-globe"></i></a>
				{{/if}}
				<a data-no-hijack="true" class="button" href="http://twitter.com/{{profile_user.twitter}}"><i class="fa fa-twitter"></i></a>
				{{#unless owner}}
					{{#if profile_user.hire_me}}
						<a data-no-hijack="true" class="button button-mini-cta" href="#"><i class="fa fa-envelope-o"> Hire me</i></a>
					{{/if}}
				{{/unless}}
			</div>
			{{#if owner}}
			<div class="profile-edit">
				<a class="button" href="/account"><i class="fa fa-edit"></i> Edit profile</a>
			</div>
			{{else}}
				{{#if user}}
					{{#if user.canRecommend}}
						<div>
							<div data-region="recommend-user">
								
							</div>
						</div>
					{{/if}}
				{{/if}}
			{{/if}}
			<div data-region="recommendations-for" class="aligned-left">
					
			</div>
		</div>
	</div>

	<div data-region="recommendations-from" class="ratio-right">

	</div>
</div>