{{#each recommendations}}
	<div>
		{{@key}}
		<span>{{this.length}}</span>
		<div class="recommenders" data-key="recommenders">
			{{#each .}}
				<div class="user-card">
					<div class="flag flag--top">
						<div class="flag__image">
							<img class="user-card-avatar" src="{{user.avatar}}" />	
						</div>
						<div class="flag__body">
							<p><a href="/profile/{{user.twitter}}">{{user.fullname}}</a></p>
							{{#if ../../isOwner}}
								<p data-key="recommendation-delete" data-id="{{id}}"><i class="fa fa-trash-o"></i></p>
							{{/if}}
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
{{/each}}