<h3>See who's recommended {{#if isOwner}}you{{else}}{{profile_user.fullname}}{{/if}}</h3>

{{#each recommendations}}
	<div class="profile-recommended-wrap">
		<div class="tag-tab" data-key="tag-summary">
			{{@key}}
			<span class="tag-count">{{this.length}}</span>
		</div>
		<div class="recommenders" data-key="recommenders">
			{{#each .}}
				<div class="user-card-small hidden">
					<a href="/profile/{{user.twitter}}"><img class="user-card-small-avatar" data-avatar src="{{user.avatar}}" /></a>
					{{#if ../../isOwner}}
						<span data-key="recommendation-delete" data-id="{{id}}" class="close" title="Remove?"><i class="fa fa-times-circle"></i></span>
					{{/if}}
				</div>
			{{/each}}
		</div>
	</div>
{{/each}}