<p class="breathe-bottom">That was nice! Feel free to let {{profile_user.fullname}} know the good news&hellip;</p>

<p class="breathe-bottom"><a data-no-hijack="true" target="_blank" href="https://twitter.com/share?url=http://referrral.com/profile/{{profile_user.twitter}}&amp;text=Hey @{{profile_user.twitter}}, I've just recommended you for {{#human_tags tags}}{{/human_tags}} on Referrral" class="button"><i class="fa fa-twitter"></i> Tweet {{profile_user.fullname}}</a></p>

<p class="muted" data-key="reset">Recommend {{profile_user.fullname}} for <strong>something else</strong> or view {{profile_user.fullname}}'s <a href="/profile/{{profile_user.twitter}}">profile</a>.</p>